*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f8fd;
    color: #333;
}
.navbar{
    background-color: transparent;
    padding: 20px;
    text-align: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.navbar a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}
.navbar a:active,
.navbar a:hover{
    color: #0070c9;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60PX 2Opx;
    flex-direction: row;
    flex-wrap: wrap;
}
.intro{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.text{
    flex: 1;
    min-width: 300px;
}
.text h1{
    font-size: 3rem;
    color: #195cae;
    margin-bottom: 10px;
}
.text h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
}
.text p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 25px;
}
.text a{
    
    text-decoration: none;
}
.ptf{
    color: #0070c9;
}
.btn{
    display: inline-block;
    color: white;
    background-color: #0070c9;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #005ea3;
}

.photo{
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
}
.photo img{
    width: 250px;
    height: 250px;
    object-fit: cover;/*pour l'affichage correcte de l'image */
    border-radius: 50%;
    background-color: #195cae;
    padding: 1px;
}

/* footer */

.footer{
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

.social-icons a {
  color: #0070c9;
  margin: 0 20px;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #005ea3;
}
footer {
  padding-top: 6rem;
  text-align: center;
}
footer p{
    margin-top: 2rem;
}
